<div class="container">
    <h1 style="text-align: center; letter-spacing: 3px;">Artemiz</h1>
    <p style="text-align: center; margin-left: 20%; margin-right: 20%; font-weight: lighter;">We produce high quality
        models centered on members who have been involved in 3D modeling in the game and
        video
        industry for over 20 years. We don't just create assets, we also offer various ideas and details. From
        character
        design ideas to art direction, 3D modeling, and 3D motion, you can request all at once. Yay!</p>
    <img class="w-100" src="assets/images/3D.png">
    <div class="col-6 section-title" style="font-size: 42px; letter-spacing: 3px;">Team Member</div>
    <section>
        <div class="d-flex justify-content-center">
            <div class="row gx-5">
                <div class="col-lg-6 card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/service-details-01.jpg" alt="Member Picture">
                    <div class="card-body">
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="col-lg-6 card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/service-details-01.jpg" alt="Member Picture">
                    <div class="card-body">
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="col-lg-6 card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/service-details-01.jpg" alt="Member Picture">
                    <div class="card-body">
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="col-lg-6 card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/service-details-01.jpg" alt="Member Picture">
                    <div class="card-body">
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="col-lg-6 card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/service-details-01.jpg" alt="Member Picture">
                    <div class="card-body">
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="col-lg-6 card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/service-details-01.jpg" alt="Member Picture">
                    <div class="card-body">
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="col-lg-6 card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/service-details-01.jpg" alt="Member Picture">
                    <div class="card-body">
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="col-lg-6 card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/service-details-01.jpg" alt="Member Picture">
                    <div class="card-body">
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>