<!-- Modal gallery -->
<section class="">
    <div class="container">
        <div class="news-big">
            Works
        </div>
    </div>
    <!-- Section: Images -->
    <section class="container">
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-30 holder" routerLink="../works/live-2d">
                <img src="assets/images/banner1.png" class="w-100" />
                <div class="top-text">LIVE 2D</div>
            </div>

            <div class="col-lg-6 mb-4 mb-lg-30 holder" routerLink="../works/3d">
                <img src="assets/images/banner2.png" class="w-100" />
                <div class="top-text">3D</div>
            </div>

            <div class="col-lg-6 mb-4 mb-lg-30 holder" routerLink="../works/visual-novel">

                <img src="assets/images/banner3.png" class="w-100" />
                <div class="top-text">VISUAL NOVEL</div>

            </div>
            <div class="col-lg-6 mb-4 mb-lg-30 holder" routerLink="../works/illustration">

                <img src="assets/images/banner4.png" class="w-100" />
                <div class="top-text">ILLUSTRATION</div>
            </div>
            <div class="col-lg-6 mb-4 mb-lg-30 holder" routerLink="../works/animation">

                <img src="https://mdbcdn.b-cdn.net/img/screens/yt/screen-video-3.webp" class="w-100" />
                <div class="top-text">ANIMATION</div>
            </div>
            <div class="col-lg-6 mb-4 mb-lg-30 holder" routerLink="../works/graphic-design">
                <img src="https://mdbcdn.b-cdn.net/img/screens/yt/screen-video-3.webp" class="w-100" />
                <div class="top-text">GRAPHIC DESIGN</div>
            </div>
        </div>
    </section>
    <!-- Section: Images -->

    <!-- Section: Modals -->
    <section class="">
        <!-- Modal 1 -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModal1Label"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/A3PDXmYoF5U" title="YouTube video"
                            allowfullscreen></iframe>
                    </div>

                    <div class="text-center py-3">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 2 -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/wTcNtgA6gHs" title="YouTube video"
                            allowfullscreen></iframe>
                    </div>

                    <div class="text-center py-3">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 3 -->
        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModal3Label"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/vlDzYIIOYmM" title="YouTube video"
                            allowfullscreen></iframe>
                    </div>

                    <div class="text-center py-3">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Modals -->
</section>
<!-- Modal gallery -->