<!-- Modal gallery -->
<section class="">
    <div class="container">
        <div class="news-big">
            Works
        </div>
    </div>
    <!-- Section: Images -->
    <section class="container">
        <div class="row" *ngIf="category?.data?.length! > 0">
            <div class="col-lg-6 mb-4 mb-lg-30 holder" *ngFor="let categoryData  of category?.data"
                routerLink="../works/{{categoryData._id}}">
                <img src={{categoryData.category_image_file}} class="w-100" />
                <div class="top-text">{{categoryData.category_name}}</div>
            </div>
        </div>
    </section>
    <!-- Section: Images -->

    <!-- Section: Modals -->
    <section class="">
        <!-- Modal 1 -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModal1Label"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/A3PDXmYoF5U" title="YouTube video"
                            allowfullscreen></iframe>
                    </div>

                    <div class="text-center py-3">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 2 -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/wTcNtgA6gHs" title="YouTube video"
                            allowfullscreen></iframe>
                    </div>

                    <div class="text-center py-3">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 3 -->
        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModal3Label"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/vlDzYIIOYmM" title="YouTube video"
                            allowfullscreen></iframe>
                    </div>

                    <div class="text-center py-3">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <!-- </section> -->
    <!-- Section: Modals -->
</section>
<!-- Modal gallery -->