<!-- Modal gallery -->
<section class="">
    <div class="container">
        <div class="news-big">
            News
        </div>
    </div>
    <!-- Section: Images -->
    <section class="container">
        <div class="row" *ngIf="news?.data?.length! > 0">

            <div *ngFor="let newsItem of news?.data" class="col-6 col-md-4 col-lg-4 mb">
                <app-news-card [newsData]="newsItem"></app-news-card>
            </div>
        </div>
    </section>
    <!-- Section: Images -->
</section>
<!-- Modal gallery -->