<section>
    <div class="container">
        <div class="terms-big">
            Terms and Condition
        </div>
    </div>

    <section class="container">
        <div style="font-size: 14pt;">
            <h3 style="font-weight: bold;">By commissioning me / <a class="linkColor"
                    href="https://twitter.com/ArtemizComs">Artemiz</a> for Live2D Rigging, you are
                agree to the terms below:</h3>
            <ol>
                <li>Price <b>may vary</b> for each tiers (depending on the complexity of the character design and/ or
                    custom motions / expression requested), for rigging price, please contact <a class="linkColor"
                        href="https://twitter.com/AriyaSusanto">me</a> or <a class="linkColor"
                        href="https://twitter.com/ArtemizComs">Artemiz</a>. All of the price already <b><u>includes
                            commercial usage.</u></b></li>
                <div style="height: 15px;"></div>
                <li>You <span style="text-decoration: underline;"><strong>can use</strong></span> the rig result
                    for&nbsp;<span style="text-decoration: underline;"><strong>commercial purpose</strong></span> (ex :
                    streaming for revenues), but <strong>not</strong> to the extend of <strong>second hand
                        distribution</strong> (re-selling or sharing it to public) without&nbsp;<a class="linkColor"
                        style="letter-spacing: -0.27px;" href="https://twitter.com/AriyaSusanto">me</a><span
                        style="letter-spacing: -0.27px;">&nbsp;or</span>&nbsp;<a class="linkColor"
                        style="letter-spacing: -0.27px;"
                        href="https://twitter.com/ArtemizComs">Artemiz</a>‘&nbsp;permission.</li>
                <div style="height: 15px;"></div>
                <li>For custom motions / expressions / stickers, please <span
                        style="text-decoration: underline;"><strong>send reference either from video clip OR
                            image</strong></span>. <span style="text-decoration: underline;"><strong>NOT
                            ALL</strong></span> custom motions/ expressions / stickers are do-able in face tracking
                    application.</li>
                <div style="height: 15px;"></div>
                <li>We only accept PSD that are <strong><a class="linkColor" style="text-decoration-line: underline;"
                            href="https://www.youtube.com/watch?v=DiKCdwQrjig">ready for live2D rigging</a></strong><u
                        style="font-weight: bold;">.</u> any request on <span
                        style="text-decoration: underline;"><strong>PSD adjustments</strong></span> (that are requested
                    by client) <span style="text-decoration: underline;">during rigging phase</span> will <span
                        style="text-decoration: underline;"><strong>count as revision.</strong></span></li>
                <div style="height: 15px;"></div>
                <li>Revision must be made within 2 weeks of submissions, we reserve the right to decline revisions
                    beyond 2 weeks after submission.&nbsp;</li>
                <div style="height: 15px;"></div>
                <li>We have the <span style="text-decoration: underline;"><strong>right to adjust /
                            alter</strong></span> the PSD for rigging purpose.</li>
                <div style="height: 15px;"></div>
                <li>We have the<span style="text-decoration: underline;"><strong> right to showcase</strong></span> the
                    <span style="text-decoration: underline;"><strong>final rig result</strong></span> for portfolio.
                </li>
                <div style="height: 15px;"></div>
                <li>Please <strong>credit us</strong> for doing the rig of your avatar.</li>
                <div style="height: 15px;"></div>
                <li>For payment plan, we accept <b>50 – 50</b>&nbsp;or <b>all upfront</b>, and as for payment method, we
                    accept <b>paypal, Wise</b>&nbsp;and <b>payoneer*, </b>it’s will <b>not </b>be a <b>first come =
                        first serve</b>&nbsp;basis, but we prioritize clients that <b><u>already made a deposit /
                            pay.</u></b></li>
                <div style="height: 15px;"></div>
                <li>If we <b>didn’t</b>&nbsp;receive the down payment <b>after 1 week</b>&nbsp;the invoice is sent
                    without any response from the client, <b>we will cancel the commission and invoice, </b>though you
                    can still contact us for next batch of commission</li>
                <div style="height: 15px;"></div>
                <li><span style="letter-spacing: -0.27px; text-decoration-line: underline;">if you want to cancel the
                        order, the refund policy applies:</span><br style="letter-spacing: -0.27px;"><span
                        style="letter-spacing: -0.27px; text-decoration-line: underline;">–&nbsp;</span><span
                        style="font-weight: bold; letter-spacing: -0.27px;">After the initial down payment</span><span
                        style="letter-spacing: -0.27px; text-decoration-line: underline;">: original payment will be
                        refunded after deducting the Payment service fees (</span><span
                        style="letter-spacing: -0.27px;">ex : paypal fee</span><span
                        style="letter-spacing: -0.27px; text-decoration-line: underline;">) , PSD processing fees and
                        operational / communication work cost (</span><span style="letter-spacing: -0.27px;">est : 10%
                        of the total project cost is <b>not refundable</b></span><span
                        style="letter-spacing: -0.27px; text-decoration-line: underline;">)</span><br
                        style="letter-spacing: -0.27px;"><span
                        style="letter-spacing: -0.27px; text-decoration-line: underline;">–&nbsp;</span><span
                        style="font-weight: bold; letter-spacing: -0.27px;">After the rigging has started (</span><span
                        style="letter-spacing: -0.27px;">we’ll <u>inform </u>you once we start</span><span
                        style="font-weight: bold; letter-spacing: -0.27px;">)&nbsp;</span><span
                        style="letter-spacing: -0.27px; text-decoration-line: underline;">: no refund beyond this point,
                        but no further payment will be requested if you terminate the project</span></li>
                <div style="height: 15px;"></div>
                <li><a class="linkColor" style="letter-spacing: -0.27px;"
                        href="https://twitter.com/ArtemizComs">Artemiz</a>&nbsp;reserve
                    the right to decline any project without providing reasons.</li>
                <div style="height: 15px;"></div>
                <li>Delivered output for commissions consist only <b><u>runtime file</u></b>&nbsp;(one that are used for
                    face tracking software)</li>
                <div style="height: 15px;"></div>
            </ol>
            <div>
                <p><b>Privacy Terms</b><br></p>
                <ol style="font-size: 18px; text-align: left; letter-spacing: -0.27px;">
                    <li>Both Client / Payer and Artist’s information (legal name and country / state of residence) may
                        be known to both parties during the commission process, specifically during payment via
                        <b><u>bank (wire) transfers</u></b>, or transactions performed on <u
                            style="font-weight: bold;">Paypal, Wise, </u>or <u style="font-weight: bold;">Payoneer</u>.
                    </li>
                    <div style="height: 15px;"></div>
                    <li>Both parties (Client / Payer and Artist) agree not to share any personal information, unless
                        <b><u>required </u></b>for legal purposes.
                    </li>
                </ol>
            </div>
        </div>
    </section>
</section>