<mat-nav-list>
    <h2 matSubheader class="mt-2 the-text">Artemiz Admin</h2>
    <mat-divider>

    </mat-divider>
    <a class="the-text" mat-list-item routerLinkActive="list-item-active" routerLink="/admin/news">
        <mat-icon>edit</mat-icon> News
    </a>
    <a class="the-text" mat-list-item routerLinkActive="list-item-active" routerLink="/admin/banner">
        <mat-icon>image</mat-icon> Banner
    </a>
    <a class="the-text" mat-list-item routerLinkActive="list-item-active" routerLink="/admin/category">
        <mat-icon>category</mat-icon> Portfolio Categories
    </a>
    <a class="the-text" mat-list-item routerLinkActive="list-item-active" routerLink="/admin/portfolio">
        <mat-icon>assignment</mat-icon> Portfolio Tier
    </a>
</mat-nav-list>