<section class="container">
    <div class="row">
        <div class="col">
            <div class="tier-txt">Tier 1</div>
            <div class="tier-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur.</div>
        </div>
        <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?controls=0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="b-divider-20"></div>
    <div class="row">
        <div class="sample-txt">
            More Sample
        </div>
        <div style="height: 20px;"></div>
        <div>
            <div class="row">
                <div class="col-lg-4 mb-4 mr-4 mb-lg-30 holder">
                    <img src="assets/images/banner1.png" class="w-100" />
                </div>

                <div class="col-lg-4 mb-4 mr-4 mb-lg-30 holder">
                    <img src="assets/images/banner2.png" class="w-100" />
                </div>

                <div class="col-lg-4 mb-4 mr-4 mb-lg-30 holder">

                    <img src="assets/images/banner3.png" class="w-100" />

                </div>
                <div class="col-lg-4 mb-4 mr-4 mb-lg-30 holder">

                    <img src="assets/images/banner4.png" class="w-100" />
                </div>
                <div class="col-lg-4 mb-4 mr-4 mb-lg-30 holder">

                    <img src="assets/images/banner4.png" class="w-100" />
                </div>
                <div class="col-lg-4 mb-4 mr-4 mb-lg-30 holder">

                    <img src="assets/images/banner4.png" class="w-100" />
                </div>
            </div>
        </div>
    </div>
    <div class="b-divider-20"></div>
    <div class="row">
        <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?controls=0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col">
            <div class="tier-txt">Tier 2</div>
            <div class="tier-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur.</div>
        </div>
    </div>
    <div class="b-divider-20"></div>
    <div class="row">
        <div class="sample-txt">
            More Sample
        </div>
        <div style="height: 20px;"></div>
        <div>
            <div class="row">
                <div class="col-lg-4 mb-4 mr-4 mb-lg-30 holder">
                    <img src="assets/images/banner1.png" class="w-100" />
                </div>

                <div class="col-lg-4 mb-4 mr-4 mb-lg-30 holder">
                    <img src="assets/images/banner2.png" class="w-100" />
                </div>

                <div class="col-lg-4 mb-4 mr-4 mb-lg-30 holder">

                    <img src="assets/images/banner3.png" class="w-100" />

                </div>
                <div class="col-lg-4 mb-4 mr-4 mb-lg-30 holder">

                    <img src="assets/images/banner4.png" class="w-100" />
                </div>
                <div class="col-lg-4 mb-4 mr-4 mb-lg-30 holder">

                    <img src="assets/images/banner4.png" class="w-100" />
                </div>
                <div class="col-lg-4 mb-4 mr-4 mb-lg-30 holder">

                    <img src="assets/images/banner4.png" class="w-100" />
                </div>
            </div>
        </div>
    </div>
</section>