<section class="container">
    <div *ngIf="portfolio?.data?.length! > 0">
        <div *ngFor="let tierData of portfolio?.data; index as i">
            <div *ngIf="!(i % 2 == 1); else even_tier">
                <div class="row" style="margin-top: 25px;">
                    <div class="col">
                        <div class="tier-txt">{{tierData.tier_name}}</div>
                        <div style="margin-top: 25px;"></div>
                        <div class="tier-detail">{{tierData.tier_description}}</div>
                    </div>
                    <div class="col">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?controls=0"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="b-divider-20"></div>
                    <div class="row">
                        <div class="sample-txt">
                            More Sample
                        </div>
                        <div style="height: 20px;"></div>
                        <div>
                            <div class="row" *ngIf="tierData.tier_portofolio_images?.length! > 0">
                                <div class="col-lg-4 mb-4 mr-4 mb-lg-30 holder"
                                    *ngFor="let imageUrl of tierData.tier_portofolio_images">
                                    <img src={{imageUrl}} class="w-100 sample-height" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-divider-20"></div>
                </div>
            </div>
            <ng-template #even_tier>
                <div class="row">
                    <div class="col">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?controls=0"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col">
                        <div class="tier-txt">{{tierData.tier_name}}</div>
                        <div class="tier-detail">{{tierData.tier_description}}</div>
                    </div>
                </div>
                <div class="b-divider-20"></div>
                <div class="row">
                    <div class="sample-txt">
                        More Sample
                    </div>
                    <div style="height: 20px;"></div>
                    <div>
                        <div class="row" *ngIf="tierData.tier_portofolio_images?.length! > 0">
                            <div class="col-lg-4 mb-4 mr-4 mb-lg-30 holder"
                                *ngFor="let imageUrl of tierData.tier_portofolio_images">
                                <img src={{imageUrl}} class="w-100 sample-height" />
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</section>