.short-detail {
  margin-top: 30px;
  font-size: 12pt;
  font-weight: normal;
  color: rgb(104, 104, 104);
}

.btn-read-more {
  background-color: #C0EDA6;
  color: #5bdd10;
  outline: none;
  font-weight: bold;
  height: 50px;
  width: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
