<div class="container">
  <img
    src="assets/images/about-banner.png"
    class="w-100"
    style="object-fit: cover"
    alt=""
  />
  <div style="height: 30px"></div>
  <h3>A company that specializes in 3DCG modeling production.</h3>
  <div class="short-detail">
    We produce high quality models centered on members who have been involved in
    3D modeling in the game and video industry for over 20 years. We don't just
    create assets, we also offer various ideas and details. From character
    design ideas to art direction, 3D modeling, and 3D motion, you can request
    all at once.
  </div>
  <div style="height: 30px"></div>
  <div class="row justify-content-end">
    <button class="btn btn-read-more d-flex">Find Out More ></button>
  </div>
</div>
