<img
  id="jumbo-image"
  src={{jumbotronUrl}}
  alt="main-visual"
  class="w-100"
/>
<div style="height: 100px"></div>
<div class="container">
  <div
    class="row"
    style="font-weight: bold; font-size: 30px; margin-bottom: 20px"
  >
    <div id="banner" class="col-lg">Featured Works</div>
    <div class="col-lg d-flex p-2 justify-content-end">
      <a style="font-size: 20px; color: coral" routerLink="/works">View All ></a>
    </div>
  </div>
</div>
<div class="container">
  <div *ngIf="banners?.data?.length! > 0">
    <owl-carousel-o #owlCarousel [options]="customOptions">
      <ng-container
        class="card"
        *ngFor="let banner of banners?.data; let i = index"
      >
        <ng-template carouselSlide>
          <img
            [src]="banner.bannerFile"
            [alt]="banner.bannerName"
            style="object-fit: cover;"
          />
        </ng-template>
      </ng-container>
      <!-- <div class="card">
      <img
        data-src="assets/images/banner2.png"
        alt="banner2"
        class="owl-lazy"
      />
    </div>
    <div class="card">
      <img
        data-src="assets/images/banner3.png"
        alt="banner3"
        class="owl-lazy"
      />
    </div>
    <div class="card">
      <img
        data-src="assets/images/banner4.png"
        alt="banner4"
        class="owl-lazy"
      />
    </div> -->
    </owl-carousel-o>
  </div>
</div>
